<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 
   <servlet>
    <servlet-name>commandController</servlet-name>
    <servlet-class>kr.co.bit.controller.CommandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commandController</servlet-name>
    <url-pattern>/command</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.NullpointerException</exception-type>
  	<location>/mvc/nullClass.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.sql.SQLIntegrityConstraintViolationException</exception-type>
  	<location>/mvc/sqlException.jsp</location>
  </error-page>
  
</web-app>